<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyview.testdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <!-- AdView SDK mandatory or important permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- MoPan必须 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 安沃、InMobi、力美、帷千与多盟所需的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 安沃、力美所需的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- InMobi、易传媒所需的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- InMobi、力美所需的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- -易传媒 所需的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- Ader、smaato可选权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Ader、智游汇(果合)权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Ader、力美所需权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Ader、万普、指点、力美所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 有米 所需的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- 百度 所需的权限 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <!-- smaato 所需的权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:icon="@drawable/ic_lancher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kyview.testdemo.MainActivity"
			android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kyview.testdemo.AdNativeActivity" >
        </activity>
        <activity android:name="com.kyview.testdemo.AdVideoActivity" >
        </activity>
        <activity android:name="com.kyview.testdemo.AdInstlActivity" >
        </activity>

        <activity android:name="com.kyview.testdemo.AdBannerActivity" >
        </activity>

        <activity android:name="com.kyview.testdemo.SpreadScreenActivity" >
        </activity>


        <!-- Must declare it for Adivew SDK -->
        <activity
            android:name="com.kuaiyou.video.vast.activity.VASTAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"/>
        <activity android:name="com.kuaiyou.video.AdviewWebView"/>
        <service android:name="com.kyview.DownloadService" />
        <activity android:name="com.kyview.AdviewWebView" />
		<activity android:name="com.kyview.AdActivity" />

        <!-- The latest updates -->
        <!-- AdView SDK for Oupeng-->
        <activity
            android:name="com.oupeng.ad.sdk.video.OupengPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.oupeng.ad.sdk.browser.OupengBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.oupeng.ad.sdk.interstitial.adapter.html.OupengHtmlInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.oupeng.ad.sdk.interstitial.adapter.image.OupengImageInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.oupeng.ad.sdk.splash.adapter.OupengImageSplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- AdView SDK for 舜飞-->
        <activity
            android:name="com.ads.sdk.video.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity android:name="com.suntengmob.sdk.activity.InterstitialActivity"
                  android:theme="@android:style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize" />

        <activity android:name="com.suntengmob.sdk.activity.BrowserAdActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize" />

        <activity android:name="com.suntengmob.sdk.activity.SplashActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize" />


        <!-- AdView SDK for MobFox-->
        <activity android:name="com.mobfox.sdk.interstitialads.InterstitialActivity"></activity>
       
       <!-- AdView SDK for AdPro 光音 -->
        <activity
            android:name="cn.pro.sdk.AdActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="adpro"/>
            </intent-filter>
        </activity>

        <!-- AdView SDK for JD -->
        <activity
            android:name="com.jd.jdadsdk.JDAdBrowser"
            android:screenOrientation="portrait" />

        <!-- AdView SDK for Inmobi (需要api 13 方可编译通过) -->
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager"
            android:enabled="true" />

        <!-- Adview SDK for 360聚效 MVAd -->
        <service
            android:name="com.mediav.ads.sdk.service.MvService"
            android:enabled="true"
            android:exported="false" />

        <!-- Adview SDK for adWalker -->
        <activity
            android:name="com.adwalker.wall.platform.layout.AdShowActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.adwalker.wall.platform.layout.AdDetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.adwalker.wall.platform.layout.AdShowWebActivity"
            android:configChanges="keyboardHidden|orientation" />

        <!-- Adview SDK for zhidian -->


        <!--
        <activity
            android:name="com.adzhidian.ui.WebViewActivity"
            android:configChanges="keyboardHidden|orientation" />

        <service android:name="com.adzhidian.manager.service.AdService" >
        </service>

        <meta-data
            android:name="com.view.AdView.channel"
            android:value="zhidian" />

        <provider
            android:name="com.adzhidian.ui.play.LocalHtmlProvider"
			android:authorities="com.kyview.screen.interstitial.adapters.localhtmlprovider" />

        -->
        <!-- Adview SDK for aduu -->
        <activity
            android:name="cn.aduu.android.AdActivity"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <!-- AdView SDK for Momark -->
        <activity
            android:name="com.donson.momark.activity.AdActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- AdView SDK for Domob -->
        <activity
            android:name="cn.domob.android.ads.DmActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AdView SDK for Youmi -->
        <activity
            android:name="net.youmi.android.normal.video.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false">
        </service>

        <receiver android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Adview SDK for Tapjoy -->
        <activity
            android:name="com.tapjoy.TJAdUnitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tapjoy.mraid.view.ActionHandler"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.TJContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.mraid.view.Browser"
            android:configChanges="orientation|keyboardHidden|screenSize" />


        <!-- Adview SDK for Chartboots -->
        <activity
            android:name="com.chartboost.sdk.CBImpressionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!-- AdView SDK for WQ -->
        <activity
            android:name="com.wqmobile.sdk.WQActionHandler"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.wqmobile.sdk.WQBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.kyview.screen.interstitial.adapters.WqActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AdView SDK for o2o 使用时需要解开注释 -->

        <activity android:name="com.otomod.ad.AdActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        <service android:name="com.otomod.ad.openudid.OpenUDID_service" >
            <intent-filter>
                <action android:name="com.o2omobi.ad.openudid.GETUDID" />
            </intent-filter>
        </service>

        <provider
            android:name="com.otomod.ad.provider.ImageProvider"
            android:authorities="com.kyview.demo" />

        <receiver android:name="com.otomod.ad.DownloadCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.otomod.ad.APPReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.o2omobi.ad.alarm" />
            </intent-filter>
        </receiver>

        -->
        <!-- AdView SDK for Chance(触控) -->

        <activity
            android:name="com.chance.ads.AdActivity"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <service
            android:name="com.chance.engine.AdService"
            android:exported="true"
            android:process="com.chance.AdService" >
            <intent-filter>
                <action android:name="com.chance.service" />
            </intent-filter>
        </service>

        <!-- AdView SDK for tencent Gdt -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" >
        </activity>



        <!-- AdView SDK for Adsmar -->
        <activity
            android:name="com.adusing.adsmar.request.AdBrowser"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <service android:name="com.adusing.adsmar.update.DownloadService" />

        <!-- AdView SDK for 宜搜 -->
        <service
            android:name="com.easou.ecom.mads.service.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.easou.ecom.mads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- AdView SDK for 卓悠 -->
        <activity
            android:name="com.adroi.sdk.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- AdView SDK for 磨盘 -->
        <activity
            android:name="com.mopanspot.sdk.MopanSpotActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.mopanspot.sdk.pluginmgr.MoPanLanchMonitorService" >
            <intent-filter>
                <action android:name="com.mopan.spot.service" />
            </intent-filter>
        </service>

        <!-- AdView SDK for AdChina -->
        <activity
            android:name="com.adchina.android.ads.views.AdBrowserView"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />

        <receiver android:name="com.adchina.android.ads.views.AdCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- AdView SDK for MobiSage -->
        <activity
            android:name="com.mobisage.android.MobiSageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>

        <!-- AdView SDK for JiuXu, also need the folowing google setting -->
        <activity
            android:name="com.chamspire.mobile.ad.base.platforms.self.SelfFullActivity"
            android:theme="@android:style/Theme.NoTitleBar" />


        <!-- AdView SDK for AdMob -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="8487000" />

        <!-- AdView SDK for Baidu -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />

        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="d3c95264" />
        <meta-data
            android:name="BaiduMobAd_APP_SEC"
            android:value="e498eab7" />
        <!--
            <meta-data
            android:name="BaiduMobAd_DEBUG_TOKEN"
            android:value="adview" />  


        -->
        <!-- AdView SDK for AirAd -->
        <activity
            android:name="com.mt.airad.MultiAD"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- AdView SDK for AppMedia -->
        <activity android:name="cn.appmedia.ad.AdActivity" >
        </activity>

        <!-- AdView SDK for imMob -->
        <activity android:name="cn.immob.sdk.util.LMActionHandler" >
        </activity>

        <service android:name="cn.immob.sdk.net.DownloadService" >
        </service>
        <service android:name="cn.immob.sdk.service.GetLocationService" >
        </service>

        <activity android:name="cn.immob.sdk.BrowserActivity" >
        </activity>
        <activity android:name="com.kyview.screen.interstitial.adapters.LmMobActivity" >
        </activity>

        <!-- AdView SDK for millennialmedia -->
        <activity
            android:name="com.millennialmedia.android.MMActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- AdView SDK for Umeng -->
        <activity
            android:name="com.umengAd.android.UmengAdDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AdView SDK for Vpon api 11 以下添加会报错 -->
        <activity
            android:name="com.vpadn.widget.VpadnActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AdView SDK for greystripe -->
        <!--
		<provider android:name="com.greystripe.android.sdk.AdContentProvider"
			android:authorities="com.kyview.AdContentProvider"
			android:multiprocess="true" android:exported="false" />
		<activity android:name="com.greystripe.android.sdk.AdView"
			android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

        -->


        <!-- AdView SDK for 自定义测试广告平台amazon -->
        <activity
            android:name="com.amazon.device.ads.MraidBrowser"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.amazon.device.ads.VideoActionHandler"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.kuaiyou.AdViewInstlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Channel id for app markets -->
        <meta-data
            android:name="AdView_CHANNEL"
            android:value="GFAN" >
        </meta-data>

        <!-- 插屏 -->
        <!-- AdView SDK for 安沃 -->
        <activity android:name="com.kyview.screen.interstitial.adapters.AdInstlActivity" />

        <!-- AdView SDK for 易积分 -->
        <activity
            android:name="com.qiang.escore.sdk.view.DetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.qiang.escore.sdk.view.WebActivity"
            android:configChanges="keyboardHidden|orientation" />

        <meta-data
            android:name="YJF_APP_CHANNEL"
            android:value="AdView" />

        <!-- Adview SDK for 智游汇(果合) -->
        <activity
            android:name="com.guohead.mix.MIXViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>

        <!--
        supported markets are as follows:
		EOE(优亿市场)
		GOOGLEMARKET(谷歌电子市场)
		APPCHINA(应用汇)
		HIAPK(安卓市场)
		GFAN(机锋)
		GOAPK(安智)
		NDUOA(N多网)
		91Store(手机91)
		LIQUCN(历趣)
		ANDROIDAI(安卓之家)
		ANDROIDD(安致)
		YINGYONGSO(应用搜)
		IMOBILE(手机之家)
		MUMAYI(木蚂蚁)
		PAOJIAO(泡椒网)
		AIBALA(爱扒拉市场)
		COOLAPK(酷安网)
		ANFONE(安丰)
		APKOK(乐致网) 
		360MARKET(360市场)

        -->
    </application>

</manifest>